body {
    display: flex;
    width : 1280px;
    height : 800px;
    margin: 0;
    flex-direction: column;
    background-color: #121826;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

svg {
    position: absolute;
    margin: 0;
}

.svg-1 {
    top: -320px;
    left: -320px;
}

.svg-2 {
    bottom: -320px;
    right: -320px;
}

.container {
    margin-top: 182px;
    margin-left: 32%;
    margin-right: 32%;
    background-color: #212936;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #394150;
    border-radius: 12px;
    transition: width 200ms ease-in 20ms, border 200ms ease-in 20ms;
}
.container:hover{
    border: 2px solid #845EEE;
}

h3 {
    color: #E5E7EB;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}

label {
    color: #A1A1A9;
    width: calc(100% - 80px); 
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 8px;
    font-size: 12px;
}

input {
    background-color: #212936;
    color: #E5E7EB;
    border: 2px solid #4D5562;
    box-shadow: none;
    font-weight: 600;
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 16px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: border 200ms ease-in 20ms;

}

input::placeholder {
    color: #4D5562;
    font-size: 12px;
    font-weight: 600;
}
input:hover{
    border: 2px solid #652CD1;

}
.button-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 40px;
}

button {
    background-color: #845EEE;
    color: #E5E7EB;
    border: none;
    border-radius: 28px;
    font-size: 12px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 200ms ease-in 20ms, color 200ms ease-in 20ms;
}
button:hover{
    background-color: #E5E7EB;
    color: #845EEE;
}
p{
    font-size: 12px;
    color: #394150;
    margin-right: 24px;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circles{
    background-color: #4D5562;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border: 5px solid #121826;
    border-radius: 100%;
    cursor: pointer;
}
.current{
    background-color: #662cd1;
    border: 5px solid #845eee4b;
    background-clip: padding-box;
    border-radius: 100%;
}
